<div class="bg-light shadow-sm rounded p-3">
    <div class="card my-2 border-0">
        <div class="card-body ">
            <h6 class="font-weight-bold">Donate to todei</h6>
            <small class="d-block">We are 100% funded by our users. If you <i class="fas fa-heart text-danger"></i> us, please consider making a donation to cover our operational expenses.</small>
            <a href="/donate" class="donate btn btn-sm btn-warning mt-2" role="button">Donate</a>
            <small class="d-block mt-2">Or, support us on Patreon!</small>
            <a href="" class="donate btn btn-sm btn-danger mt-2 border-0" role="button">Become a Patron <i class="fas fa-external-link-alt small"></i></a>
        </div>
    </div>
</div>