<div class="mt-4">
        <div class="font-weight-light" style="height: 150px;">
            <a class="d-inline font-weight-light" href="#" style="font-size: 11px">About</a> |
            <a class="d-inline font-weight-light" href="/privacy" style="font-size: 11px">Privacy Policy</a> |
            <a class="d-inline font-weight-light" href="/terms" style="font-size: 11px">Terms of Use</a> |
            <a class="d-inline font-weight-light" href="/cookies" style="font-size: 11px">Cookie Policy</a> |
            <a class="d-inline font-weight-light " href="/donate" style="font-size: 11px">Donate</a> |
            <a class="d-inline font-weight-light" href="/contact" style="font-size: 11px">Contact</a>
            <small class="text-muted d-block">© 2021 <span class="logo">t'day</span></small>
            <small class="text-muted d-block">made with <i class="fas fa-heart text-danger"></i> by <a href="https://github.com/eneda8">eneda</a></small>
        </div>
</div>