<div class="bg-light shadow-sm rounded mb-5 p-3">
    <div class="card my-2 border-0">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="330" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=3e56620a-ac24-464e-9793-3f5065281e6f&theme=light&filter={'authorUsername':'<%=user.username%>'}"></iframe>
    </div>
</div>