<div class="bg-light shadow-sm rounded mb-5 p-3">
    <a href="/charts/me">
        <div class="card my-2 border-0">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;" width="365" height="350" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=3e56620a-ac24-464e-9793-3f5065281e6f&maxDataAge=60&autoRefresh=true&theme=light&filter={'authorID':'<%=user._id%>'}"></iframe>
        </div> 
    </a>
</div>