<div class="bg-light shadow-sm rounded mb-5 mt-5 p-3">
    <% if(user.postedToday === true && user.todaysPost.length) {%> 
        <h6 class="font-weight-bold mb-0 pb-0">
            <a href="/posts/<%=todaysPost._id%>" class="text-decoration-none">
                Today's Rating: <span class="badge badge-light mb-2" style="font-size: 13px"><span class="star star<%=todaysPost.rating%>-result"></span></span>  
            </a>
        </h6>
    <% } else { %> 
        <div class="card my-2 border-0">
            <div class="card-body pb-2">
                <form action="/posts" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <h6 class="font-weight-bold">How's your <span id="dayOfTheWeek">day</span>?</h6>
                    <div class="">
                        <label class=""for="post[rating]"></label>
                        <fieldset class="rating d-block">
                        <input type="radio" id="star5-new" name="post[rating]" value=5 /><label class = "" for="star5-new" title="Amazing"></label>
                        <input type="radio" id="star4-new" name="post[rating]" value=4 /><label class = "" for="star4-new" title="Very good"></label>
                        <input type="radio" id="star3-new" name="post[rating]" value=3 /><label class = "" for="star3-new" title="Average"></label>
                        <input type="radio" id="star2-new" name="post[rating]" value=2 /><label class = "" for="star2-new" title="Not good"></label>
                        <input type="radio" id="star1-new" name="post[rating]" value=1 /><label class = "" for="star1-new" title="Terrible"></label>
                        </fieldset>
                        <div class="valid-feedback"></div>
                    </div>  
                    <input hidden class="postDate" type="text" name="post[date]" value="">
                    <div class="">
                        <label class="form-label mt-0" for="body">Jot down your thoughts or post an image:</label>
                        <textarea class="form-control border-0 bg-light" rows="5"cols="10" type="text" name="post[body]"></textarea>
                        <div class="valid-feedback"></div>
                    </div>    
                    <div class="custom-file mt-3 ">
                        <input type="file" class="custom-file-input " id="image" name="image" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                        <label class="custom-file-label border-sm" for="image">Choose image...</label>
                    </div>
                    <img class="img-fluid my-2" id="preview" width="100px"/> 
                    <div class="mb-3 clearfix">
                        <button class="btn btn-warning float-right">Submit</button>
                    </div>
                </form>
            </div>
        </div>                      
    <% } %> 
    </div>

