<% if(success && success.length) {%>
    <div class="alert alert-light alert-dismissible fade show border-success" role="alert">
        <div class="mr-5" style="color: #28A745">
            <%= success %>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    
    <% if(error && error.length) {%>
    <div class="alert alert-light alert-dismissible fade show border-danger" role="alert">
        <div class="mr-5" style="color: #DC3545;"><%= error %></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

<style>
    .alert{
        width: fit-content;
        padding: 15px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2)
    }
</style>