<% if(success && success.length) {%>
<div class="alert alert-light alert-dismissible fade show rounded border-success shadow-sm  bg-white position-fixed bottom-0 right-0 p-2 text-center mt-2 " role="alert">
    <div class="">
        <%= success %>
    </div>
</div>
<% } %>
    
<% if(error && error.length) {%>
<div class="alert alert-light alert-dismissible fade show rounded border-danger shadow-sm my-0 bg-white position-fixed bottom-0 right-0 p-2 text-center" role="alert">
    <div class=""><%= error %></div>
</div>
<% } %>

<style>
    .alert{
        z-index: 5;
        top: 4.5em;
        position: fixed;
        left: 50%;
        margin-left: -150px;
        width: fit-content;
        border-left: 6px solid #7f7f84;
    }
</style>

