<% if(success && success.length) {%>
    <div class="alert alert-light alert-dismissible fade show rounded border-success shadow-sm  bg-white position-fixed bottom-0 right-0 p-2 text-center " role="alert">
        <div class="mr-5">
            <%= success %>
        </div>
    </div>
    <% } %>
    
    <% if(error && error.length) {%>
    <div class="alert alert-light alert-dismissible fade show rounded border-danger shadow-sm my-0 bg-white position-fixed bottom-0 right-0 p-2 text-center" role="alert">
        <div class="mr-5"><%= error %></div>
    </div>
    <% } %>

<style>
    .alert{
        z-index: 5;
        top: 4em;
        position: fixed;
        left: 50%;
        margin-left: -100px;
        width: fit-content;
        padding: 15px;
        border-left: 6px solid #7f7f84;
    }
</style>

