<div class="">
    <div class="mb-3 bg-transparent">
        <div class="menu my-2 h-50">
            <p class="text-muted mb-0" style="font-size: 1rem">Menu</p>
            <ul class="nav flex-column mt-1" style="font-size: 0.92rem">
                <li class="nav-item">
                    <a class="nav-link active pl-0 pb-0" href="/home"><span class="mr-2"><i class="fas fa-home"></i></span>Home</a>
                </li>
                <% if(user.postedToday === false) {%> 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pb-0" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal"><span class="mr-2"><i class="far fa-star"></i></span>Rate today</a>
                    </li>
                    <% } else {%>
                    <li class="nav-item">
                        <a href="/posts/<%=user.todaysPost%>" class="nav-link"><span class="mr-2"><i class="far fa-calendar-check"></i></span>Today's rating</a>
                    </li>
                    <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link pl-0 pb-0 dropdown-toggle" data-toggle="dropdown" role="button"><span class="mr-2"><i class="far fa-chart-bar"></i></span>Charts</a>
                    <div class="dropdown-menu" style="font-size: 0.92rem">
                        <a href="/charts" class="dropdown-item text-primary">Today's Charts</a>
                        <a href="/charts/all" class="dropdown-item text-primary">All Charts</a>
                        <a href="/charts/me" class="dropdown-item text-primary">My Charts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0 " href="/write"><span class="mr-2"><i class="fas fa-pencil-alt"></i></span>Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0" href="/u/<%=currentUser.username%>#journals"><span class="mr-2"><i class="fas fa-book"></i></span>Journals</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0" href="/u/<%=currentUser.username%>#bookmarks"><span class="mr-2"><i class="fas fa-bookmark"></i></span> Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0" href="/posts/search"><span class="mr-2"><i class="fas fa-search"></i></span>Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0" href="/settings"><span class="mr-2"><i class="fas fa-cog"></i></span>Settings</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link pl-0 pb-0 dropdown-toggle" data-toggle="dropdown" role="button"><span class="mr-2"><i class="fas fa-ellipsis-h text-primary"></i></span>More</a>
                    <div class="dropdown-menu" style="font-size: 0.92rem">
                        <a class="dropdown-item text-primary" href="/donate" ><i class="fas fa-hand-holding-usd text-primary mr-3"></i>Donate</a>
                        <a class="dropdown-item text-primary" href="/terms" ><i class="fas fa-scroll text-primary mr-3"></i>Terms of Use</a>
                        <a class="dropdown-item text-primary" href="/privacy" ><i class="fas fa-user-shield text-primary mr-3"></i>Privacy Policy</a>
                        <a class="dropdown-item text-primary" href="/cookies" ><i class="fas fa-cookie-bite text-primary mr-3"></i>Cookie Policy</a>
                        <a class="dropdown-item text-primary" href="/contact" ><i class="fas fa-envelope text-primary mr-3"></i>Contact Us</a>
                        <a class="dropdown-item text-primary" href="/logout"><i class="fas fa-sign-out-alt text-primary mr-3"></i>Log out</a>
                    </div>
                </li>
                </ul>
        </div>
    </div>
    <div class="bg-light shadow-sm rounded p-2 mb-3" oncontextmenu = "return false">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;" width="100%" height="250px" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=dab42b0e-905e-459c-951b-6a8dde5b28ed&&maxDataAge=10&autoRefresh=true&theme=light&filter={'date':'<%=today%>'}"></iframe>
    </div>
    <div class="bg-light shadow-sm rounded p-3">
        <div class="card my-2 h-50 p-3 border-0" title="This content is loaded externally. If it doesn't look right, try refreshing the page.">
            <h6 class="text-center mt-3"><a href="https://global-mind.org/gcpdot/">Real-time Global Consciousness Project Dot</a></h6>
            <div class="d-flex justify-content-center" style="width: 100%">
                <iframe src="https://global-mind.org/gcpdot/gcp.html" height="48" width="48" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </div>
            <hr>
            <div class="d-flex justify-content-center" style="width: 100%" >
                <iframe src="https://global-mind.org/gcpdot/gcpchart.php" class="figure-img img-fluid img-rounded" height="250" width="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
            </div>
        </div>
    </div> 
</div>



