<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">todai</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/posts/today">Today's Posts</a>
        <% if(currentUser) {  %> 
        <a class="nav-link" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal">New Post</a>
        <a class="nav-link" href="" data-toggle="modal" id="editPostLink" data-target="#editPostModal">Edit Today's Post</a>
        <% } %>
      </div>
      <div class="navbar-nav ml-auto mr-2">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <% if(!currentUser) {  %> 
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %> 
          <li class="nav-item dropdown mr-auto">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="img" src="<%=currentUser.avatar.thumbnail%>" alt=""></a>
            <div class="dropdown-menu" style="min-width: 5rem">
              <a class="dropdown-item p-2" href="/u/<%=currentUser.username%>">Profile</a>
              <a class="dropdown-item p-2" href="/settings">Settings</a>
              <a class="dropdown-item p-2" href="/logout">Logout</a>
            </div>
          </li>
          <% }  %>
      </div>
      </div>
    </div>
  </div>
</nav>

<%- include('../partials/new')%>

