<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stars/stars.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    <% if((title === 'todei') || (title === "Login / todei") || (title === "Register / todei") ) {%> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css"/>
    <% } %> 
    <% if((title === "Write / todei") || (title === "Journal / todei") || (title === "Edit Journal / todei") ) {%> 
      <link rel="stylesheet" type="text/css" href="/stylesheets/write.css"/>
      <% }%> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <% if(title === "Login / todei"){%> 
      <style>
        .paper::before {
            height: 100vh;
        }
    </style>
    <% } %> 
    <% if(title === "Register / todei"){%> 
      <style>
            .paper {
                height: 120vh
            }
            .paper::before {
                height: 125vh;
            }
    </style>
    <% } %> 
</head>
<body class="d-flex flex-column">
      <%- include("../partials/navbar") %>
    <div class="ml-4">
      <%- include('../partials/flash')%>
    </div>  
    
    <%if((title === 'todei') || (title === "Login / todei") || (title === "Register / todei")) { %>
    <main class="container-fluid paper mb-0 pb-0">
    <%} else {%>
    <main class="container-fluid" >
    <% } %> 
      <%-body -%> 
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script src='/javascripts/bootstrap-tab-history.js'></script>
    <script src='/javascripts/validateForms.js'></script>
    <script src='/javascripts/alerts.js'></script>
    <% if(title === "Search / todei") {%> 
    <script src="/javascripts/Hilitor.js"></script>
    <% } %> 

</body>
</html>