<!DOCTYPE html>
<html>
    <head>
        <title>Edit Journal</title> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/write.css"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/favicon_io/site.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    </head>
    <body spellcheck="false"> 
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-warning">
            <div class="container-fluid">
              <a class="navbar-brand font-weight-bold logo" href="/">todae</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto mr-2">
                    <% if(!currentUser) {  %> 
                    <a class="nav-link text-dark" href="/login">login</a>
                    <a class="nav-link text-dark" href="/register">sign up</a>
                    <% } else { %> 
                    <li class="nav-item dropdown mr-auto">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="p-0" src="<%=currentUser.avatar.thumbnail%>" style= "border-radius: 50%;"alt=""></a>
                      <div class="dropdown-menu" style="min-width: 5rem">
                        <a class="dropdown-item p-2" href="/u/<%=currentUser.username%>">Profile</a>
                        <a class="dropdown-item p-2" href="/settings">Settings</a>
                        <a class="dropdown-item p-2" href="/logout">Logout</a>
                      </div>
                    </li>
                    <% }  %>
                </div>
                </div>
              </div>
            </div>
          </nav>
          <main>
              <h6 class="text-muted text-center text-monospace">Edit Journal</h6>
              <div class="paper text-wrap ">
              <form action="/write/<%=journal._id%>?_method=PUT" class="" method="POST" novalidate>
                <textarea autofocus="autofocus" class="text-monospace text-wrap px-0 py-1 ml-0" rows="50" cols="100" name="journal[body]"><%=journal.body%></textarea>                     
                <button class="btn btn-sm btn-outline btn-primary" type="submit">Submit</button>
            </form>
        </div>
          </main>
         
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
          <script src='/javascripts/validateForms.js'></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">      
    </body>
</html>