<% layout("layouts/boilerplate")%>
<h6 class="text-muted text-center text-monospace">Write to your heart's content.</h6>
<small class="text-muted text-center text-monospace d-block">(Journal entries are 100% private and encrypted.)</small>
<div class="paper text-wrap">
  <form action="/write" class="validated-form" method="POST" novalidate>
    <div>
      <label for="journal[date]" class="text-monospace small mb-0"><%=today%></label>
      <input type="hidden" class="" name="journal[date]" for="journal[date]" value="<%=today%>">
      <textarea id= "journalBody" autofocus="autofocus" class="text-monospace text-wrap px-0 ml-0" rows="50" cols="100" name="journal[body]" required></textarea>
      <div class="invalid-feedback">
        This field cannot be empty!
      </div>  
    </div>
    <button class="btn btn-sm btn-link my-3" type="submit">Submit</button>  
    <!-- <button type="button" class="btn btn-sm btn-link text-danger my-3" onclick="window.history.back();">Cancel</button>      -->
    <button type="button" class="btn btn-sm btn-link text-danger my-3" data-toggle="modal" data-target="#deleteModal">
      Cancel
    </button>          
  </form>
</div>
          
<%- include("../partials/confirmDeleteModals/journal") %>



