<% layout("layouts/boilerplate")%>
<div class="container-fluid pl-5 pt-3 ml-3 mb-3" style="width:50%">
    <h1>How does <span class="logo text-warning">t'day</span> work?</h1>
    <ul class="list-unstyled pt-1">
        <li class="font-weight-bold">Sign up for an account on t'day...</li> 
        <p>with an anonymous username and display name. <br>
            We don't and will never ask for your full name, date of birth, or phone number, just an email. <br> To create a space where everyone can be their authentic selves, we encourage complete anonymity (no real names and no selfies!) <br>
        However, we do ask for broad demographic information (your age group, country where you currently reside, and gender) to compile our average aggregate rating charts. <br> Your country's flag is included on all posts and comments, as well as your profile, while your gender and age group are completely private (and cannot be changed after you sign up.)</p>
        <li class="font-weight-bold">Before the clock hits midnight in your time zone...</li>
        <p>rate your day on a scale of 1-5, with 1 being "Terrible" and 5 being "Amazing"</p>
        <div style="line-height: 20px">
            <label class="star small mb-0 mt-1">★</label><span class="ml-3">1 (Terrible)</span><br>
            <label class="star small mb-0">★★</label><span class="ml-3">2 (Very bad)</span><br>
            <label  class="star small mb-0">★★★</label><span class="ml-3">3 (Average)</span><br>
            <label class="star small mb-0">★★★★</label><span class="ml-3">4 (Very good)</span><br>
            <label class="star small mb-0">★★★★★</label><span class="ml-3">5 (Amazing)</span>
        </div>
        <p class="mt-3"> Optionally, jot down a few thoughts to explain your rating. Mark a milestone or post a photo that defines your day.  <br>Feel free to be as open and honest as you like. Only t'day users who are logged in can see your profile. <br>No one is following you or counting likes, but your anonymous t'day rating may very well end up on a stranger's home page half-way across the world :)</p>
        <li class="font-weight-bold">Some rules: </li>
            <p>You can only post 1 rating per day. <br> You can rate your day at any time before midnight in your time-zone. <br>At midnight, the day resets and if you haven't already done so, you can no longer rate the previous day (and you break your post streak). <br> Regardless of what time you post, you have 24 hours to change your rating. <br>After 24 hours, the rating can no longer be changed but can still be deleted at any time.</p>
        <li class="font-weight-bold">Your home page</li>
        <p>Your home page shows you 10 random ratings from today. Refresh the page for 10 more, or filter based on star rating or country. <br>Comment on a stranger's day or bookmark their post to come back to it later.  <br> To keep your randomized "timeline" clutter-free, we only show you ratings that either have text or an image attached.</p>
        <li class="font-weight-bold">Search</li>
        <p>Our search page allows you to find ratings from any date. Filter by username, display name, country, or star rating. </p>
        <li class="font-weight-bold">Your profile</li>
        <p>Stats: your profile shows you your total average rating, number of posts, number of comments, and your post streak (number of consecutive days you've posted a rating)</p>
        <p>Tabs: Your ratings and comments tabs are public while bookmarks and journals are private.</p>
        <li class="font-weight-bold">What are journals?</li>
        <p>Journals are a private place for you to write about anything at all, with no character limit. Unlike t'day ratings, they can be edited at any time. <br>More importantly, journals have an additional layer of AES-256-CBC encryption on top of your already hashed and encrypted account password.  <br>Fun fact: AES is the first (and only) publicly accessible cipher approved by the U.S. National Security Agency (NSA) for top-secret information. </p>
        <li class="font-weight-bold">Your charts</li>
        <p>Your charts page is where your daily ratings come to life through data visualization (lots of charts). See what your average rating is for the week, month, year, or all-time. <br>Compare this week's average rating with last week's, or this month's with last month's. See which day of the week is  rated the highest or lowest over time. <br>Track your progress and use that insight to gain a better understanding of your life.</p>
        <li class="font-weight-bold">Our charts</li>
        <p>Perhaps the most experimental part of this project, the aggregate daily rating average allows us to not only track our days individually, but  collectively as well. <br>With a large enough sample size, we may be able to discover patterns among and between groups of people: age groups, genders, nations, or humanity as a whole. <br>Maybe Wednesdays really are universally hated.. Maybe October is our best month of the year. Maybe 2021 wasn't as bad as we thought. <br>(Or, maybe every day is a solid average 3.0!) We'll never know until we get enough users.. Sign up for t'day, today and join the world's first collective online journal. :)</p>
    </ul>
    <a class="btn btn-warning btn-lg mr-2" href="/register" role="button">Sign up</a>

</div>