<% layout("layouts/boilerplate")%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-light" role="alert" style="border-color: #DC3545;">
            <h4 class="alert-heading" style="color: #DC3545;"><%=err.message%></h4>
            <p style="color: #DC3545;"><pre><%=err.stack%></pre></p>
        </div>
    </div>
</div>

<style>
    .alert{
        width: fit-content;
        height: fit-content;
        padding: 15px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2)
    }
</style>