<% layout("layouts/boilerplate")%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="shadow-sm rounded border-danger bg-light" role="" >
            <h4 class="alert-heading text-danger"><%=err.message%></h4>
            <p class="text-danger"><pre><%=err.stack%></pre></p>
        </div>
    </div>
</div>

<style>
    .alert{
        width: fit-content;
        height: fit-content;
        padding: 15px;
        border-left: 6px solid #7f7f84;
    }
</style>


