<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home! Todai!</h1>
    <h2>How was your day?</h2>
    <form action="/" method="POST">
        <label for="rating">Enter a number between 1 and 5</label>
        <input type="number" name="post[rating]" min="1" max="5">
        </input>
        <br>
        <div>
            <label for="body">Write about your day(optional)</label>
            <br>
            <textarea rows="15" cols ="28" name="post[body]"></textarea>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>