<% layout("layouts/boilerplate")%>

    <div class="row">
        <h1 class="text-center">How was your day?</h1>
        <div class="col-6 offset-3">
            <form action="/" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="rating">Enter a number between 1 and 5:</label>
                    <input class="form-control text-center" type="number" id="rating" name="post[rating]" min="1" max="5" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Write about your day:</label>
                    <textarea class="form-control" rows="5"cols="22" type="text" name="post[body]" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
            <a href="/index">All Posts</a>
        </div>
    </div>