<% layout("layouts/boilerplate")%>
    <div class="container mt-5 mb-0">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h1 class="logo">How's your <%=today %>?</h1>
                    <!-- <p class="text-center font-weight-bold">──────<span class="text-warning">★</span>──────</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col wrapper justify-content-center ">
                    <input name="ratingRadio" type="radio" id="st1" value="1" />
                    <label for="st1"></label>
                    <input name="ratingRadio" type="radio" id="st2" value="2" />
                    <label for="st2"></label>
                    <input name="ratingRadio" type="radio" id="st3" value="3" />
                    <label for="st3"></label>
                    <input name="ratingRadio" type="radio" id="st4" value="4" />
                    <label for="st4"></label>
                    <input name="ratingRadio" type="radio" id="st5" value="5" />
                    <label for="st5"></label>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <textarea disabled style="resize: none" class="blinking-cursor d-block border mx-auto rounded border-dark" cols="20" row="70">|</textarea>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <button type="button" class="btn btn-outline btn-warning d-block my-3 "><a href="/register" class="text-dark">Sign Up</a></button>
            <button type="button" class="btn btn-outline btn-dark d-block ml-3 my-3"><a href="/login" class="text-light">Login</a></button>
        </div>
        <div class="row justify-content-center mb-5 mt-3">
            <div class="col-md-7 text-center bg-light p-3">
                <h4 class="">Welcome to <strong style="font-family: 'Courgette" class="text-warning">todei<sup style="font-size: 12px">&copy</sup></strong></h4>
                <h6 class="">the world's first collective online journal</h6>
            </div>
        </div>
        </div>
        <div class="container-fluid px-5 pr-0 mt-4 mb-0 pt-3 pb-0">
            <div class="row mb-5 features">
                <!-- Column -->
                <div class="col text-center border-right pl-5">
                    <div class="icon-round align-items-center"><i class="far fa-calendar-alt text-warning"></i></div>
                    <h5 class="font-weight-bold">Quick self-reflection</h5>
                    <p class="">todei allows you to practice self-reflection in a quick, easy way. Rate your day on a scale of 1-5 and jot down a few thoughts. Over time, with daily self-reflection, you'll gain a clearer picture of your weeks, months and years.</p>
                </div>
                <div class="col text-center border-right">
                    <div class="icon-round" style="height: 80px"><i class=""><i class="fas fa-globe text-warning"></i></i></div>
                    <h5 class="font-weight-bold">A wider perspective</h5>
                    <p class="">Your home page shows you 10 randomized anonymous todei entries from all around the world. Filter by country and/or star rating for a wider perspective into today. </p>
                </div>
                <div class="col text-center border-right">
                    <div class="icon-round"><i class="fas fa-chart-line text-warning"></i></div>
                    <h5 class="font-weight-bold">Data-driven</h5>
                    <p class="">We believe in healthy social comparison that is honest and data-driven. Track your own ratings over time (always private) and view national or global average ratings in real-time, with the option to filter data by date, country, age, and gender.</p>
                </div>
                <div class="col  text-center pr-5">
                    <div class="icon-round "><i class="far fa-bell-slash text-warning"></i></div>
                    <h5 class="font-weight-bold">No addiction</h5>
                    <p class="">todei is a minimal social network: no followers. no notifications. no likes. no endless timeline. (AKA no addiction.) You can only post one rating per day and we encourage anonymity across all interactions to protect the integrity of the ratings. todei is designed to help us connect to ourselves and to each other, without the toxicity.</p>
                </div>
            </div>
        </div>
    </div>
