<% layout("layouts/boilerplate")%>
    <div class="">
        <h5 class="font-weight-bold">COOKIE POLICY</h5>
        <p class="font-weight-bold text-muted">Last updated December 8, 2022</p>
        <p>
            This Cookie Policy explains how t'day (<span class="font-weight-bold">"Company"</span>, <span
                class="font-weight-bold">"we"</span>, <span class="font-weight-bold">"us"</span>, or <span
                class="font-weight-bold">"our"</span>) uses cookies and similar technologies to recognize you when you
            visit our website at <a href="https://www.tday.co">https://www.tday.co</a>, ("Website"). It explains what
            these technologies are and why we use them, as well as your rights to control our use of them.
            <br><br>
            In some cases we may use cookies to collect personal information, or that becomes personal information if we
            combine it with other information.
        </p>
        <p class="font-weight-bold">What are cookies?</p>
        <p>
            Cookies are small data files that are placed on your computer or mobile device when you visit a website.
            Cookies are widely used by website owners in order to make their websites work, or to work more efficiently,
            as well as to provide reporting information.
        </p>
        <p>Cookies set by the website owner (in this case, t'day) are called "first party cookies". Cookies set by
            parties other than the website owner are called "third party cookies". Third party cookies enable third
            party features or functionality to be provided on or through the website (e.g. like interactive content and
            analytics). The parties that set these third party cookies can recognize your computer both when it visits
            the website in question and also when it visits certain other websites.</p>
        <p class="font-weight-bold">Why do we use cookies?</p>
        <p>We use first and third party cookies for several reasons. Some cookies are required for technical reasons in
            order for our Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies.
            Third parties serve cookies through our Websites for analytics and other purposes. This is described in more
            detail below.</p>
        <p>The specific types of first and third party cookies served through our Websites and the purposes they perform
            are described below (please note that the specific cookies served may vary depending on the specific Online
            Properties you visit):</p>
        <p class="font-weight-bold">How can I control cookies?</p>
        <p>You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by
            setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select
            which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly
            necessary to provide you with services.</p>
        <p>The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to
            reject cookies, you may still use our website though your access to some functionality and areas of our
            website may be restricted. You may also set or amend your web browser controls to accept or refuse cookies.
            As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser,
            you should visit your browser's help menu for more information.</p>
        <p>In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like
            to find out more information, please visit <a
                href="http://www.aboutads.info/choices">http://www.aboutads.info/choices</a> or <a
                href="http://www.youronlinechoices.com.">http://www.youronlinechoices.com.</a> </p>
        <p>The specific types of first and third party cookies served through our Websites and the purposes they perform
            are described in the table below (please note that the specific cookies served may vary depending on the
            specific Online Properties you visit):</p>
        <p class="font-weight-bold">Essential website cookies:</p>
        <p>These cookies are strictly necessary to provide you with services available through our Websites and to use
            some of its features, such as access to secure areas.</p>

        <div class="card cookie small mb-3">
            <div class="card-body">
                <p><span class="font-weight-bold">Name:</span> cookie monster</p>
                <p><span class="font-weight-bold">Purpose:</span> Used to keep user logged in</p>
                <p><span class="font-weight-bold">Provider:</span> t'day.co</p>
                <p><span class="font-weight-bold">Service:</span> t'day login and authorization</p>
                <p><span class="font-weight-bold">Country:</span> United States</p>
                <p><span class="font-weight-bold">Type:</span> http_cookie</p>
                <p><span class="font-weight-bold">Expires in:</span>1 hour</p>
            </div>
        </div>
        <div class="card cookie small mb-3">
            <div class="card-body">
                <p><span class="font-weight-bold">Name:</span> today</p>
                <p><span class="font-weight-bold">Purpose:</span> Used to keep track of today's date in user's timezone
                </p>
                <p><span class="font-weight-bold">Provider:</span> t'day.co</p>
                <p><span class="font-weight-bold">Service:</span> timekeeping throughout the app</p>
                <p><span class="font-weight-bold">Country:</span> United States</p>
                <p><span class="font-weight-bold">Type:</span> http_cookie</p>
                <p><span class="font-weight-bold">Expires in:</span> session</p>
            </div>
        </div>
        <p class="font-weight-bold">What about other tracking technologies, like web beacons?</p>
        <p>Cookies are not the only way to recognize or track visitors to a website. We may use other, similar
            technologies from time to time, like web beacons (sometimes called "tracking pixels" or "clear gifs"). These
            are tiny graphics files that contain a unique identifier that enable us to recognize when someone has
            visited our Websites or opened an e-mail including them. This allows us, for example, to monitor the traffic
            patterns of users from one page within a website to another, to deliver or communicate with cookies, to
            understand whether you have come to the website from an online advertisement displayed on a third-party
            website, to improve site performance, and to measure the success of e-mail marketing campaigns. In many
            instances, these technologies are reliant on cookies to function properly, and so declining cookies will
            impair their functioning.</p>
        <p class="font-weight-bold">Do you use Flash cookies or Local Shared Objects?</p>
        <p>Websites may also use so-called "Flash Cookies" (also known as Local Shared Objects or "LSOs") to, among
            other things, collect and store information about your use of our services, fraud prevention and for other
            site operations.</p>
        <p>If you do not want Flash Cookies stored on your computer, you can adjust the settings of your Flash player to
            block Flash Cookies storage using the tools contained in the Website Storage Settings Panel. You can also
            control Flash Cookies by going to the Global Storage Settings Panel and following the instructions (which
            may include instructions that explain, for example, how to delete existing Flash Cookies (referred to
            "information" on the Macromedia site), how to prevent Flash LSOs from being placed on your computer without
            your being asked, and (for Flash Player 8 and later) how to block Flash Cookies that are not being delivered
            by the operator of the page you are on at the time).</p>
        <p>Please note that setting the Flash Player to restrict or limit acceptance of Flash Cookies may reduce or
            impede the functionality of some Flash applications, including, potentially, Flash applications used in
            connection with our services or online content.</p>
        <p class="font-weight-bold">Do you serve targeted advertising?</p>
        <p>Third parties may serve cookies on your computer or mobile device to serve advertising through our Websites.
            These companies may use information about your visits to this and other websites in order to provide
            relevant advertisements about goods and services that you may be interested in. They may also employ
            technology that is used to measure the effectiveness of advertisements. This can be accomplished by them
            using cookies or web beacons to collect information about your visits to this and other sites in order to
            provide relevant advertisements about goods and services of potential interest to you. The information
            collected through this process does not enable us or them to identify your name, contact details or other
            details that directly identify you unless you choose to provide these.</p>
        <p class="font-weight-bold">How often will you update this Cookie Policy?</p>
        <p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies
            we use or for other operational, legal or regulatory reasons. Please therefore re-visit this Cookie Policy
            regularly to stay informed about our use of cookies and related technologies.</p>
        <p>The date at the top of this Cookie Policy indicates when it was last updated.</p>
        <p class="font-weight-bold">Where can I get further information?</p>
        <p>If you have any questions about our use of cookies or other technologies, please email us at info@tday.co.
        </p>
        <button class="termly-cookie-preference-button btn btn-warning" type="button"
            onclick="displayPreferenceModal()">
            Manage Cookie Preferences
        </button>
        <footer class="pt-4 px-2 mb-0 mt-1 d-flex justify-content-between small">
            <div class="">
                <a class="d-inline" href="#">About</a> <span class="small">|</span>
                <a class="d-inline" href="/privacy">Privacy Policy</a> <span class="small">|</span>
                <a class="d-inline" href="/terms">Terms of Use</a> <span class="small">|</span>
                <a class="d-inline" href="/cookies">Cookie Policy</a> <span class="small">|</span>
                <a class="d-inline" href="/contact">Contact</a>
            </div>
            <div class="text-right">
                <p class="mb-0 d-inline">© 2022 t'day |</p>
                <p class="d-inline">made with <i class="fas fa-heart text-danger"></i> by <a href="https://github.com/eneda8">eneda</a></p>
                <small style="color: #66000000">Ps. 118:24</small>

            </div>
        </footer>
    </div>