<% layout("layouts/boilerplate")%>

    <div class="container-md">
        <div class="rounded bg-transparent text-center">
            <h3 class="alert-heading text-danger mb-3">Uh oh, there seems to be an error...</h3>
            <i class="far fa-dizzy mb-3" style="font-size: 100px"></i>
            <% if(process.env.NODE_ENV !=="production" ) {%>
                <h5 class="font-weight-bold mb-3">
                    <%=err.message%>
                </h5>
                <p class="text-danger">
                <pre><%=err.stack%></pre>
                </p>
                <% }%>
                    <a class="text-primary d-block" role="button" onclick="window.history.back()"><i
                            class="fas fa-arrow-left mr-3"></i>Go Back</a>
                    <% if(currentUser) {%>
                        <a href="/home"><i class="fas fa-home text-primary mr-3"></i>Go Home</a>
                        <% } %>
        </div>
        <footer class="pt-4 px-2 mb-0 mt-1 d-flex justify-content-between small fixed-bottom">
            <div class="">
                <a class="d-inline" href="#">About</a> <span class="small">|</span>
                <a class="d-inline" href="/privacy">Privacy Policy</a> <span class="small">|</span>
                <a class="d-inline" href="/terms">Terms of Use</a> <span class="small">|</span>
                <a class="d-inline" href="/cookies">Cookie Policy</a> <span class="small">|</span>
                <a class="d-inline" href="/contact">Contact</a>
            </div>
            <div class="text-right">
                <p class="mb-0 d-inline">© 2023 t'day |</p>
                <p class="d-inline">made with <i class="fas fa-heart text-danger"></i> by <a
                        href="https://github.com/eneda8">eneda</a></p>
                <small style="color: #66000000">Ps. 118:24</small>
            </div>

        </footer>
    </div>