<% layout("layouts/boilerplate")%>
    <div class="container-fluid mt-5 mb-0">
        <div class="">
            <div class="jumbotron jumbotron-fluid ml-5 pl-4 pt-4 pb-5 mr-3 mb-0 shadow-sm" >
                <div class="container-fluid p-4">
                    <h1 class="display-4">Welcome to <strong style="font-family: 'Courgette" class="text-warning">t'day<sup style="font-size: 12px; line-height: 0; vertical-align: 20px">&copy</sup></strong></h1>
                    <div class="d-flex mb-0">
                    <p class="lead mb-0">The world's first collective online journal </p><i class="fas fa-feather text-primary d-inline ml-2"></i>
                    </div>
                    <hr class="my-3">
                    <p class="mb-3 mt-0">A quick tool to self-reflect, track progress, and connect to the whole globe.</p>
                    <!-- <p class="mark mb-5" style="width: fit-content;">See what today is like for everyone!</p> -->
                    <a class="btn btn-warning btn-lg mr-2" href="/register" role="button">Sign up</a>
                    <a class="btn btn-primary btn-lg" href="/#" role="button">Learn more</a>
                </div>

            </div>
        </div>
         <div class="first px-5 bg-white shadow-lg " >
            <div class="row mt-4">
                <div class="col content">
                     <h1 class="logo">How's y<span class='text-warning'>(</span>our<span class="text-warning">)</span> <span id="dayOfTheWeek"></span>?</h1>
               </div>
            </div>
            <div class="pl-5 row d-flex justify-content-end">
                <div class=" wrapper ml-5 pl-5">
                    <input name="ratingRadio" type="radio" id="st1" value="1" />
                    <label for="st1"></label>
                    <input name="ratingRadio" type="radio" id="st2" value="2" />
                    <label for="st2"></label>
                    <input name="ratingRadio" type="radio" id="st3" value="3" />
                    <label for="st3"></label>
                    <input name="ratingRadio" type="radio" id="st4" value="4" />
                    <label for="st4"></label>
                    <input name="ratingRadio" type="radio" id="st5" value="5" />
                    <label for="st5"></label>
                </div>
            </div>
            
            <div class="row">
                <div class="col mb-3">
                    <textarea disabled style="resize: none" class="blinking-cursor d-block border mx-auto rounded border-dark shadow" cols="22" row="70">|</textarea>
                </div>
            </div>
            <div class="row justify-content-end mb-4">
                <button class="btn btn-warning mr-3 shadow" type="submit">Post</button>
            </div>
        </div>
        </div>
        <div class=" container pr-5 mt-4 mx-5" style="width:45%; line-height: 20px;">
            <div class="row d-flex flex-wrap align-self-start pr-5 mr-5 pt-0 mt-0">
                <div class="col features align-self-start mr-5 pt-0 mt-0" >
                    <div class="row-col text-center mr-5 mb-4 mt-0">
                        <div class="icon-round align-items-center"><i class="far fa-calendar-alt text-warning"></i></div>
                        <h5 class="font-weight-bold text-dark mb-3">Quick self-reflection</h5>
                        <p class="px-5">t'day allows you to practice self-reflection in a quick, easy way. <br>Rate your day on a scale of 1-5 and jot down a few thoughts. Over time, with daily self-reflection, you'll gain a clearer picture of your weeks, months and years.</p>
                    </div>
                    <div class="row-col text-center mr-5 mb-4">
                        <div class="icon-round" style="height: 80px"><i class=""><i class="fas fa-globe text-warning"></i></i></div>
                        <h5 class="font-weight-bold text-dark mb-3">A wider perspective</h5>
                        <p class="px-5">See what today's like for people all around the world. Your home page shows you the real-time global average rating for today and randomized anonymous t'day entries, filtered by country and/or star rating.</p>
                    </div>
                    <div class="row-col text-center px-5 mr-5 mb-4">
                        <div class="icon-round"><i class="fas fa-chart-line text-warning"></i></div>
                        <h5 class="font-weight-bold  text-dark">Today, quantified</h5>
                        <p class="px-5">We believe in social (and self) observation that is honest and data-driven. Track your own daily ratings over time or view national and global average ratings. Filter charts by date, country, age group, and gender to gain insight into our collective, day by day.</p>
                    </div>
                    <div class="row-col  text-center px-5 mr-5 mb-0 pb-0">
                        <div class="icon-round "><i class="far fa-bell-slash text-warning"></i></div>
                        <h5 class="font-weight-bold text-dark mb-3">No addiction</h5>
                        <p class="px-5">t'day is a minimal social network platform: no followers. no likes. no notifications. no endless timeline. no addiction.You can only post one rating per day, and to protect the integrity of everyone's ratings, we encourage anonymity across all interactions. t'day is designed to help us connect to ourselves and to each other, without the toxicity.</p>
                    </div>
                </div>
                <div class="col doodles mb-5">
                    <div class="row-col d-flex justify-content-end">
                        <img src="/images/doodles/7607.jpg" alt="" height="500px" width="600" class="shadow">
                    </div>
                    <div class="row-col d-flex justify-content-end">
                        <img src="/images/doodles/7607.jpg" alt="" height="500px" width="600" class="shadow">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end my-5 pt-3 mr-3">
            <footer class="mr-4 pr-4 pb-0 mb-0">
                <small class="text-muted text-right d-block">© 2021 t'day</small>
                <small class="text-muted text-right d-block">made with <i class="fas fa-heart text-danger"></i> by <a href="https://github.com/eneda8">eneda</a></small>
                <a class="d-inline  font-weight-light" href="#" style="font-size: 11px">About</a> |
                <a class="d-inline  font-weight-light" href="/privacy" style="font-size: 11px">Privacy Policy</a> |
                <a class="d-inline  font-weight-light" href="/terms" style="font-size: 11px">Terms of Use</a> |
                <a class="d-inline  font-weight-light" href="/cookies" style="font-size: 11px">Cookie Policy</a> |
                <a class="d-inline  font-weight-light " href="/contact" style="font-size: 11px">Contact</a>
                </footer>
        </div>
    </div>
    


<style>
    .first {
        position: fixed;
        z-index: 5;
        top: 13%;
        right: 4%;
        border: 2px dashed black
    }
    .doodles{
        position: absolute;
        z-index: 3;
        top: 26%;
        right: 2.5%;
    }
</style>
