/* stars and headline */

.logo {
  font-family: "Courgette", cursive;
}

.content {
  text-align: center;
}

  .wrapper {
  display: block;
  border: none;
  font-size: 14px;
  transform: translateX(-35%);
  }
  
  .wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  
  }
  
  .wrapper label {
  float: right;
  color: #C8C8C8;
  }
  
  .wrapper label:before {
  margin: 5px;
  content: "★";
  display: inline-block;
  font-size: 3.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }
  
  .wrapper input:checked ~ label:before {
  color: #FFC107;
  }
  
  .wrapper label:hover ~ label:before {
  color: #ffdb70;
  }
  
  .wrapper label:hover:before {
  color: #FFC107;
  }
  
/* blinking cursor  */
.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  /* features */
  .icon-round {
    display: inline-block;
    width: 100%;
    font-size: 45px;
    line-height: 80px;
    text-align: center;
}

.features {
    left: 135px
}