
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html, body {
    font-family: "Poppins", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    zoom: .9;
}

.msg{
    z-index: 5;
    top: 4.5em;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    width: fit-content;
    border-left: 6px solid #7f7f84;
}

main{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 10px;
}


nav{
    width: 100%;
}


.logo {
    font-family: "Courgette", cursive;
}

i {
    padding: 0;
    margin: 0;
}

/* fix modal backdrop*/
.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
  }

.mainContent {
    height: fit-content;
}
/* right sidebar */

.upper {
    width: 100%;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-size:cover; 
    background-repeat: no-repeat; 
    height: 150px;
}

#profilePreviewCover {
    object-fit: cover;
}
.user {
    position: relative
}

.profile img {
    height: 100px;
    width: 100px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 110px;
    width: 110px;
    border: 3px solid #fff;
    border-radius: 50%
}

/* breakpoints */
@media screen and (min-width: 576px ) {
    main {
        padding-left: 20px;
    }
}

@media screen and (max-width: 600px){
    .mainContent{
        width: 100%;
    }

}

@media screen and (max-width: 992px){
    .leftSidebar, .rightSidebar {
        display: none;
    }
    main {
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 600px) and (max-width:992px){
    .mainContent{
        width: 600px;
    }
}

@media screen and (min-width: 993px) and (max-width:1189px) {
    .mainContent{
        width: 70%;
    }
    .leftSidebar {
        width: 30%;
    }
    .menu, .title {
        padding-left: 30px;
    }
    .rightSidebar {
        display: none;
    }
}

@media screen and (min-width: 1190px) and (max-width:1288px) {
    .mainContent{
        width: 525px;
    }
    .leftSidebar{
        width: 235px;
    }
    .rightSidebar{
        width: 300px;
    }
}

@media screen and (min-width: 1288px) and (max-width:1470px) {
    .mainContent{
        width: 600px;
        /* width: 52%; */
    }
    .leftSidebar{
        width: 235px;
        /* width: 20%; */
    }
    .rightSidebar{
        width: 320px;
        /* width: 28%; */
    }
}

@media screen and (min-width: 1471px) {
    .mainContent{
        width: 700px;
    }
    .leftSidebar{
        width: 235px;
    }
    .rightSidebar{
        width: 350px;
    }
}