
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html, body {
    font-family: "Poppins", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: inherit;
    display: flex;
    flex-direction: column;
}

body {
    zoom: .9;
}

.msg{
    z-index: 5;
    top: 4.5em;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    width: fit-content;
    border-left: 6px solid #7f7f84;
}

main{
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 10px;
}


nav{
    width: 100%;
}


.logo {
    font-family: "Courgette", cursive;
}

i {
    padding: 0;
    margin: 0;
}

/* fix modal backdrop*/
.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
  }


.upper {
    width: 100%;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-size:cover; 
    background-repeat: no-repeat; 
    height: 150px;
}

#profilePreviewCover {
    object-fit: cover;
}

.user {
    position: relative
}

.profile img {
    height: 100px;
    width: 100px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 110px;
    width: 110px;
    border: 3px solid #fff;
    border-radius: 50%
}

/* breakpoints */
@media screen and (min-width: 576px ) {
    main {
        padding-left: 20px;
    }
}

@media screen and (max-width: 992px){
    main {
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 993px) and (max-width:1189px) {
    .menu, .title {
        padding-left: 30px;
    }
}

@media screen and (min-width: 2000px) {
    .mainContainer{
        margin: 0 22% 
    }

}