<div>
    <div class="modal fade" id="imagePreviewModal-<%=post._id%>" tabindex="-1" aria-labelledby="imagePreviewModal-<%=post._id%>" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            <img src="<%=post.image.fullsize%>" alt="" class="">
        </div>
    </div>
</div>