<div class="bg-light shadow-sm rounded p-3">
    <div class="card my-2 h-50 p-3 border-0" title="This content is loaded externally. If it doesn't look right, try refreshing the page.">
        <h6 class="text-center mt-3"><a href="https://global-mind.org/gcpdot/">Real-time Global Consciousness Project Dot</a></h6>
        <div class="d-flex justify-content-center" style="width: 100%">
            <iframe src="https://global-mind.org/gcpdot/gcp.html" height="48" width="48" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div>
        <!-- <hr>
        <div class="d-flex justify-content-center" style="width: 100%" >
            <iframe src="https://global-mind.org/gcpdot/gcpchart.php" class="figure-img img-fluid img-rounded" height="250" width="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div> -->
    </div>
</div>