<div class="bg-light shadow-sm p-3 mt-3">
    <div class="card my-2 h-50 p-3 border-0">
        <h6 class="text-center mt-3"><a href="https://global-mind.org/gcpdot/">Real-time GCP Dot</a></h6>
        <div class="text-center">
            <iframe src="https://global-mind.org/gcpdot/gcp.html" height="48" width="48" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
        </div>
        <hr>
        <iframe src="https://global-mind.org/gcpdot/gcpchart.php" class="figure-img img-fluid img-rounded" height="250" width="100%" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
    </div>
</div>