<div class="bg-light shadow-sm rounded py-4 px-4 mb-5" oncontextmenu = "return false">
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;" width="400" height="281" src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=dab42b0e-905e-459c-951b-6a8dde5b28ed&&maxDataAge=10&autoRefresh=true&theme=light&filter={'date':'<%=today%>'}"></iframe>
</div>
