<div class="bg-light shadow rounded p-3 mb-5">
    <div class="card my-2 h-50 p-3 border-0">
        <h6 class="text-center">Today's Global Avg Rating: <%=average%></h6>
        <iframe>
            <section>CHART GOES HERE</section>
        </iframe>
    </div>
</div>