<div class="border-left border-bottom mb-5 bg-white shadow-sm rounded">
    <div class="my-2 h-50">
        <small class="text-muted pl-3">Menu</small>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/home"><i class="fas fa-home mr-3"></i>Home</a>
            </li>
            <% if(user.postedToday === false) {%> 
                <li class="nav-item">
                    <a class="nav-link" href="" data-toggle="modal" id="newPostLink" data-target="#newPostModal"><i class="far fa-star mr-3"></i>Rate today</a>
                </li>
                <% } else {%>
                <li class="nav-item">
                    <a href="/posts/<%=user.todaysPost%>" class="nav-link"><i class="far fa-calendar-check mr-3"></i>Today's rating</a>
                </li>
                <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/data" ><i class="far fa-chart-bar mr-3"></i>Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/write"><i class="fas fa-pencil-alt mr-3"></i>Write</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/u/<%=currentUser.username%>#nav-journals"><i class="fas fa-book mr-3"></i></i>Journals</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/u/<%=currentUser.username%>#nav-bookmarks"><i class="fas fa-bookmark mr-3"></i></i>Bookmarks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts/search"><i class="fas fa-search mr-3"></i>Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings"><i class="fas fa-cog mr-3"></i>Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-3"></i>Log out</a>
            </li>
          </ul>
    </div>
</div>