.star {
    color: #FFD700;
    font-size: 1.5em;
}
.star1-result:before {
    content : '★'
}
.star2-result:before {
    content : '★★'
}
.star3-result:before {
    content : '★★★'
}
.star4-result:before {
    content : '★★★★'
}
.star5-result:before {
    content : '★★★★★';
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input[type=radio] { display:none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "★";
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input[type=radio]:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input[type=radio]:checked + label:hover, /* hover current star when changing rating */
.rating > input[type=radio]:checked ~ label:hover,
.rating > label:hover ~ input[type=radio]:checked ~ label, /* lighten current selection */
.rating > input[type=radio]:checked ~ label:hover ~ label { color: #FFED85;  } 

