<div class="position-fixed" id="copyDiv">
    <div id="liveToast" class="copyToast toast hide border-success bg-white shadow-none" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-body">
        Copied to clipboard
      </div>
    </div>
  </div>
  
<style>
#copyDiv{
        z-index: 5;
        top: 4em;
        position: fixed;
        left: 50%;
        margin-left: -100px;
        width: fit-content;
}
</style>

