<% layout("layouts/boilerplate")%>

<div class="text-center mx-auto mt-5">
    <i class="fas fa-check-circle text-success mb-3" style="font-size: 30px"></i>
    <h5>Thanks, <%=currentUser.displayName%>!</h5>
    <p>Your donation has been processed. <br> Please check your inbox for a confirmation email!</p>
    <a href="/home"><button class="btn btn-warning">Return</button></a>
  </div>