<% layout("layouts/boilerplate")%>
                 
<h5 class="card-title my-4 font-weight-bold text-center">We are 100% funded by you <i class="fas fa-heart text-danger"></i></h5>
<div class="text-center">
Your donation will cover:
    <ul class="list-unstyled mt-2">
        <li class="ml-2 small">Development & maintenance</li>
        <li class="ml-2 small">Web hosting</li>
        <li class="ml-2 small">Data storage</li>
        <li class="ml-2 small">Security costs</li>
        <li class="ml-2 small">& Marketing efforts</li>
    </ul>
    <h6 class="font-weight-bold mb-3">Choose a donation amount <i class="fas fa-external-link-alt small"></i>:</h6>
    <p class=" mb-3">One-time</p>
    <button type="button" class="btn btn-warning ">
        <a href=""  class="text-dark text-decoration-none">$1</a>
    </button>
    <button type="button" class="btn btn-warning ">
        <a href="" class="text-dark text-decoration-none">$5</a>
    </button>
    <button type="button" class="btn btn-warning ">
        <a href="" class="text-dark text-decoration-none">$10</a>
    </button>
    <button type="button" class="btn btn-warning ">
        <a href="" class="text-dark text-decoration-none">$25</a>
    </button>

    <p class="my-3">Monthly</p>
    <button type="button" class="btn btn-warning ">
        <a href=""  class="text-dark text-decoration-none">$1</a>
    </button>
    <button type="button" class="btn btn-warning ">
        <a href="" class="text-dark text-decoration-none">$5</a>
    </button>
    <button type="button" class="btn btn-warning ">
        <a href="" class="text-dark text-decoration-none">$10</a>
    </button>
    <button type="button" class="btn btn-warning ">
        <a href="" class="text-dark text-decoration-none">$25</a>
    </button>
    <small class="d-block mt-3">All payments are handled securely through <a href="https://stripe.com">Stripe</a>.</small>
</div>

                    

  

