<% layout("layouts/boilerplate")%>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-3 offset-xl-5 border p-3">
            <h5 class="card-title mb-4 font-weight-bold text-center">We are 100% funded by you <i class="fas fa-heart text-danger"></i></h5>
            <div class="text-center">
                Your donation will cover:
                <ul class="list-unstyled mt-2">
                    <li class="ml-2 small">Development & maintenance</li>
                    <li class="ml-2 small">Web hosting</li>
                    <li class="ml-2 small">Data storage</li>
                    <li class="ml-2 small">Security costs</li>
                    <li class="ml-2 small">Marketing efforts</li>
                    <li class="ml-2 small text-muted">..& copious amounts of coffee!</li>
                </ul>
            </div>
            <div class="card border-0 shadow-sm bg-light">
                <div class="card-body">

                    <h6 class="font-weight-bold mb-2">Donate to todai</h6>
                    <form action="/donate" method="POST" class="validated-form" novalidate>
                        <div class="form-group">
                            <label for="name" class="sr-only">Full Name</label>
                            <input class="form-control border-0" type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control border-0" name="email" placeholder="Email">
                        </div>
                        <div class="form-group w-50">
                            <label for="amount" class="sr-only">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend ">
                                    <span class="input-group-text border-0">$</span>
                                </div>
                                <input class="form-control border-0" type="text" name="amount" placeholder="Amount" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text border-0">.00</span>
                                </div>
                            </div>
                        </div>
                        <div id="card-element" class="my-4 bg-white p-3"></div>
                        <div id="card-errors" role="alert"></div>
                        <button class="btn btn-warning border-0">Submit Payment</button>
                        <small class="mt-3 d-block">Payments are submitted securely through <a href="https://stripe.com/about">Stripe</a>.</small>

                    </form>
                </div>
            </div>
        </div>
    </div>

  

<script src="https://js.stripe.com/v3/"></script>
<script src="/javascripts/card.js"></script>