<% layout("layouts/boilerplate")%>
<div class="d-flex container mb-3 px-0">
    <div class="d-flex card align-self-center mx-lg-auto shadow bg-white">
        <div class="align-self-center overflow-hidden">
            <div class="row bg-light px-2 px-lg-5 d-flex justify-content-center">
                <h4 class="mt-0 mb-3 mx-0 font-weight-bold text-center py-4 px-3 bg-light">Support <span class="logo text-warning mr-2">t'day</span>- We are 100% funded by you <i class="fas fa-heart text-danger"></i></h4> 
            </div>
            <div class="row p-2 px-lg-5">
                <div class="col-sm">
                    <h6 class="font-weight-bold text-center">Features we'd like to add in the future:</h6>
                    <ul class="list-group list-group-flush bg-light">
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>Dark mode</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>2-step verification</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>Data export</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>Translation widget</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>More robust data analysis</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>Search & filter for bookmarks & journals</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>Sorting on search page</li>
                        <li class="list-group-item"><i class="far fa-square text-muted mr-2 "></i>iOS and Android apps</li>
                        <li class="list-group-item">& more!</li>
                    </ul>  
                </div>
            <div class="col-sm border-left pb-3 text-center">
                <h6 class="font-weight-bold mb-3">Choose a donation amount <i class="fas fa-external-link-alt small"></i>:</h6>
                <small class="d-block mb-3">All payments are processed securely through <a href="https://stripe.com">Stripe</a>. </small>
                
                <p class="mb-2">One-time</p>
                <a href="https://buy.stripe.com/9AQ8xp89W6A13qU000"  class="btn btn-warning text-dark text-decoration-none" target="_blank" title ="$0.67 after fee">$1</a>
                <a href="https://buy.stripe.com/00g7tlcqcbUl7Ha6op" class="btn btn-warning text-dark text-decoration-none" target="_blank" title ="$4.56 after fee">$5</a>
                <a href="https://buy.stripe.com/00g3d5cqc6A17Ha3ce" class="btn btn-warning text-dark text-decoration-none" target="_blank" title ="$9.41 after fee">$10</a>
                <a href="https://buy.stripe.com/4gw9Bt2PC3nP3qU8wA" class="btn btn-warning text-dark text-decoration-none" target="_blank" title="$23.98 after fee">$25</a>
                <p class="mt-3 mb-3">Monthly</p>
                <a href="https://buy.stripe.com/28oaFx4XK4rT2mQ005"  class="btn btn-warning text-dark text-decoration-none" target="_blank" title ="$0.67 after fee">$1</a>
                <a href="https://buy.stripe.com/cN2291cqccYpbXq4gm" class="btn btn-warning text-dark text-decoration-none" target="_blank" title ="$4.56 after fee">$5</a>
                <a href="https://buy.stripe.com/dR600TeykcYp1iM14b" class="btn btn-warning text-dark text-decoration-none" target="_blank" title ="$9.41 after fee">$10</a>
                <a href="https://buy.stripe.com/cN2fZReykaQh2mQcMU" class="btn btn-warning text-dark text-decoration-none" target="_blank" title="$23.98 after fee">$25</a>

                <!-- <small class="d-block text-muted mt-3">*Stripe charges us a processing fee of 2.9% + 30¢.</small>
                <small class="d-block text-muted">Hover over each button to view the net donation amount after processing fee.</small> -->
            </div>
            </div>

        </div>
    </div>
</div>


  

