<% layout("layouts/boilerplate")%>

<div class="d-flex container" style="overflow-y: hidden;">
    <div class="row align-self-center mx-auto">
        <div class="col col-lg-8 offset-lg-2">
            <div class="card border-0 shadow mb-3 bg-light w-100 h-100">
                <div class="card-body">
                    <h5 class="card-title my-3 text-center">Forgot your password?</h5>
                    <p class="text-center">Enter your email here to receive a link to reset your password:</p>
                    <form action="/forgot-password?_method=PUT" method="POST" class="validated-form" novalidate>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text border-0" for="email"><i class="fas fa-envelope text-primary"></i></label>
                            </div>
                            <input class="form-control border-0" type="email" id="email" name="email" placeholder ="Email" required autofocus>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please enter a valid email.</div>
                         </div>
                        <button class="btn btn-warning btn-block">Reset Password</button>
                    </form>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 