<% layout("layouts/boilerplate")%>
<div class="container mt-4 " style="padding-bottom: 20vh; padding-top: 10vh; overflow-y: hidden;">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 ">
            <div class="card border-0 shadow mb-3 bg-light">
                <div class="card-body">
                    <img src="/images/login.jpg" class="card-img-top" alt="">
                    <h5 class="card-title my-3 text-center">Login to <span class="logo font-weight-bold text-warning">t'day</span></h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-4 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-0"><i class="fas fa-at text-primary"></i></span>
                            </div>
                            <input class="form-control border-0" type="text" id="username" name="username" placeholder ="Username" required>
                            <div class="invalid-feedback">Please provide a valid username.</div>
                        </div>
                        <div class="mb-4 input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text border-0" for="password"><i class="fas fa-key text-primary" data-toggle="tooltip" data-placement="bottom" title="Must be 8-20 characters. Must contain at least one number, one uppercase letter, and one special character."></i>
                                </label>
                            </div>
                            <input class="form-control border-0" type="password" id="password" name="password" placeholder ="Password" 
                            required>
                <!-- add this in pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$" -->
                            <div class="invalid-feedback">Please provide a valid password.</div>
                        </div>
                        <input id="tz" type="text" hidden value="" name="timezone">
                        <button class="btn btn-warning btn-block">Login</button>
                        <div class="mt-3 text-center">
                            <a href="/forgot-password">Forgot password?</a> <span> | </span> <a href="/register">Register</a>
                        </div>
                    </form>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<script>
    document.getElementById("tz").value = new Date().toLocaleTimeString('en-us',{timeZoneName:'short'}).split(' ')[2]; 
    console.log("TIME ZONE SET TO", new Date().toLocaleTimeString('en-us',{timeZoneName:'short'}).split(' ')[2])
</script>
