<% layout("layouts/boilerplate")%>

<div class="d-flex container" style="overflow-y: hidden;">
    <div class="row align-self-center mx-auto">
        <div class="col col-lg-10 offset-lg-2">
            <div class="card border-0 shadow mb-3 bg-light">
                <div class="card-body">
                    <h5 class="card-title mt-3 mb-2 text-center">Password Reset</h5>
                    <small class="d-block mb-3">Your password must be 8-20 characters and contain: at least one number, one uppercase letter, and one special character.</small>
                    <form action="/reset/<%=token%>?_method=PUT" method="POST" class="validated-form" novalidate>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text border-0" for="password"><i class="fas fa-key text-primary" ></i>
                                </label>
                            </div>
                            <input class="form-control border-0" type="password" id="password" name="password" pattern="^(?=(.*[a-z]))(?=(.*[A-Z]){1,})(?=(.*[0-9]){1,})(?=(.*[!@#$%^&*()\-__+.]){1,}).{8,20}$" placeholder="New password" required >
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please enter a valid password.</div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text border-0" for="confirm"><i class="fas fa-key text-primary"></i>
                                </label>
                            </div>
                            <input class="form-control border-0" type="password" id="confirm" name="confirm" pattern="^(?=(.*[a-z]))(?=(.*[A-Z]){1,})(?=(.*[0-9]){1,})(?=(.*[!@#$%^&*()\-__+.]){1,}).{8,20}$" placeholder="Confirm password" required >
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please enter a valid password.</div>
                        </div>
                        <button class="btn btn-warning btn-block">Reset</button>
                    </form>
                </div> 
            </div> 
        </div> 
    </div> 
</div> 