<% layout("layouts/boilerplate")%>

<div class="d-flex container" style="overflow-y: hidden;">
    <div class="row align-self-center">
            <div class="col-lg-5 offset-lg-4 ">
            <div class="card border-0 shadow mb-3 bg-light">
                <div class="card-body">
                    <h5 class="card-title my-3 text-center">Thanks for signing up with <span class="logo text-warning font-weight-bold">t'day</span>!</h5>
                    <p class="text-center">Please check your inbox for a link to verify your email address. To receive a new verification link, re-enter your email address here:</p>
                    <form action="/verify?_method=PUT" method="POST" class="validated-form" novalidate>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text border-0" for="email"><i class="fas fa-envelope text-primary"></i></label>
                            </div>
                            <input class="form-control border-0" type="email" id="email" name="email" placeholder ="Email" required>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please enter a valid email.</div>
                         </div>
                        <button class="btn btn-warning btn-block">Resend verification link</button>
                    </form>
                </div> 
            </div> 
        </div>  
        </div>
       
    </div> 
</div> 