<div>
    <div class="modal fade" id="avatarPreviewModal" tabindex="-1" aria-labelledby="avatarPreviewModal" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            <img src="<%=user.avatar.path%>" alt="" class="">
        </div>
    </div>
</div>
