<div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" height=200px width=300px src="https://charts.mongodb.com/charts-todai-fevei/embed/charts?id=6527e02a-301c-48a9-8843-450dae8113d4&theme=light&filter={'user._id':'<%=user._id%>'}"></iframe>
    </div>
</div> 