<div class="tab-pane fade show active pb-3 pt-2 bg-light  rounded px-4 mx-4 mb-4" id="nav-ratings" role="tabpanel" aria-labelledby="nav-ratings-tab">
    <% if(!user.posts.length) { %>
    <h6 class="text-center my-5">No ratings yet!</h6>
    <% } else { for (post of user.posts) { %> 
        <%- include("../../posts") %>
    <%}}%> 
</div>

