@media screen and (max-width: 500px) {
    .btn {
        display: block;
        padding: .375rem .75rem;
    }
}

/* .container-md {
    margin-bottom: 20vh;
    overflow-y: hidden;
}

@media screen and (max-width: 600px){
    .container-md{
        margin: 0 0;
    }
     .form-control{
        max-width: 100%;
    }
}
@media screen and (min-width: 600px){
    .container-md{
        margin-top: 100px;
    }
}
@media screen and (min-width: 700px ) and (max-width: 900px){
    .container-md {
        max-width: 80%;
    }
    .btn {
        max-width: 6em;
    }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
    .container-md {
        max-width: 60%;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .container-md {
        max-width: 50%;
    }
}
@media screen and (min-width: 1400px) {
    .container-md {
        max-width: 40%;
    }
} */