.logo {
  font-family: "Courgette", cursive;
}

main {
  flex-direction: column;
  justify-content: start;
  padding-right: 0px;
  padding-bottom: 0px;
}

.content{
  position: relative;
  top: -350px;
  right: -1000px;
  z-index: 500;
}

.jumbotron{
  z-index: 700;
  position: relative;
}


@media screen and (max-width: 576px){
  .jumbotron{
    height: 50%;
  }
  main {
    padding-left: 0px
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 75px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

#landingButtons {
  clear: both;
}

#starDiv {
  transform: translate(-10%);
  margin-bottom: 20px;
}

.wrapper {
  display: block;
  border: none;
  font-size: 12px;
}
  
.wrapper input {
border: 0;
width: 1px;
height: 1px;
overflow: hidden;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
opacity: 0;
}

.wrapper label {
float: right;
color: #C8C8C8;
margin: 0px;
}

.wrapper label:before {
margin: 0px;
content: "★";
display: inline-block;
font-size: 3.0em;
color: #ccc;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

.wrapper input:checked ~ label:before {
color: #FFC107;
margin-bottom: 0px;
}

.wrapper label:hover ~ label:before {
color: #ffdb70;
}

.wrapper label:hover:before {
color: #FFC107;
}

.content {
  text-align: center;
}
